{% extends 'base.html.twig' %}

{% block title %}BJ TechnoDev - Le site pro de deux développeurs full stack{% endblock %}
{% block metadescription %}Dans ce site nous allons vos presenters la startup que nous sommes montée à deux, nous pouvons intervenir sur des développements du site web mais pas que{% endblock %}

{% block body %}

    {#    debut slider#}

    <div class="swiper mySwiper">
        {% for message in app.flashes('success') %}
            <div style="float: right; margin-top: 10px" class="alert alert-dismissible alert-success flash-notice" role="alert" id="success-alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div style="float: right; margin-top: 10px" class="alert alert-danger flash-notice" role="alert" id="danger-alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="swiper-wrapper">

            <div class="swiper-slide content">
                <img class="swiper-slide imgcaroussel" src="{{ asset('build/code.jpg') }}" alt="">
                <div class="Middle">Dans ce site vous pourrez apprendre a nous connaitre ...</div>
            </div>

            <div class="swiper-slide content">
                <img class="swiper-slide imgcaroussel" src="{{ asset('build/service.jpg') }}" alt="">
                <div class="Middle"><span style="text-transform:uppercase;">é</span>galement voir les services que nous proposons ....</div>
            </div>

            <div class="swiper-slide content">
                <img class="swiper-slide imgcaroussel" src="{{ asset('build/projet.jpg') }}" alt="">
                <div class="Middle">Mais aussi touts nos projets récents .</div>
            </div>

        </div>
        <div class="swiper-button-next" style="margin-right: 50px; color: black"></div>
        <div class="swiper-button-prev" style="margin-left: 50px; color: black"></div>
    </div>
    {#    fin slider#}

    {#    about#}

    <section id="about">
        <h1 class="text-center" style="color: #5289d8;margin-top: 20px;font-size: 70px;">BJ TechnoDev</h1>
        <p class="text-center about-txt" data-aos="fade-down" data-aos-duration="1500">
            Bienvenue sur le site de notre <strong>startup</strong> <br>
            Vous vous demandez quels sont les <strong>services</strong> qui nous vous proposons <a href="{{ path('homepage') }}#contactus">cliquez ici</a> <br>
            Vous êtes <strong>nouveaux sur le web</strong> et vous avez besoin d'un site <strong>e-commerce</strong> contactez nous en <a href="{{ path('homepage') }}#contactus">cliquant ici</a>
            <br>
            Si vous avez un <strong>restaurant</strong> et que vous désirez un site <strong>click and collect</strong> <a href="{{ path('homepage') }}#contactus">contactez-nous</a>
            <br>
        </p>
            <div style="width: 60%;margin: 0 auto;display: flex;justify-content: space-around;font-size: 30px;">
                <p data-aos="flip-left" data-aos-duration="1500" class="text-center" style="display: flex;flex-direction: column"><i class="fa-3x fa-brands fa-wordpress"></i><span style="font-size: 25px;">Wordpress</span></p>
                <p data-aos="flip-up" data-aos-duration="1500" class="text-center" style="display: flex;flex-direction: column"><i class="fa-3x fa-brands fa-shopify"></i><span style="font-size: 25px;">Prestashop</span></p>
                <p data-aos="flip-right" data-aos-duration="1500" class="text-center" style="display: flex;flex-direction: column"><i class="fa-3x fa-brands fa-symfony"></i><span style="font-size: 25px;">Symfony</span></p>
            </div>
        <p class="text-center about-txt" data-aos="fade-down" data-aos-duration="1500">
            <br>
            N'hésitez pas à faire appel à nos <strong>deux développeurs</strong> :
        </p>

        <div class="row" style="width: 95%;margin: 0 auto;" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-md-6 text-center resp-about" style="padding-left: 62px;padding-right: 0;">
                <a class="none-deco" href="https://bastiendev.com/" target="_blank">
                    <img alt="photo" class="img-ronde" src="{{ asset('build/img-about-bastien.jpg') }}">

                <span class="txt-img-ronde">Bastien Oeuvrard</span></a>
            </div>

            <div class="col-md-6 text-center resp-about" style="padding-right: 0;" data-aos="fade-up" data-aos-duration="1000">
                <a class="none-deco" href="https://jeremydev.fr" target="_blank">
                    <img alt="" class="img-ronde" src="{{ asset('build/img-about-jeremy.jpg') }}">

                <span class="txt-img-ronde">Jérémy ROSSI</span></a>
            </div>
        </div>

    </section>

    {#    fin about#}

    {#    section service#}

    <section class="content-section text-white text-center" id="services">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading">
                <h2 class="text-secondary mb-0" style="color: #F9F190 !important">Services</h2>
                <h2 class="mb-5">Ce qu'on peut vous offrir !</h2>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div data-aos="zoom-in-down" data-aos-once="false" class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span  class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                    <h3><strong>Responsive</strong></h3>
                    <p class="text-faded mb-0">Un design pour toute les tailles d'écran</p>
                </div>
                <div data-aos="zoom-in-down" data-aos-once="false" data-aos-duration="1000" class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <span  class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-desktop"></i></span>
                    <h3><strong>Developper Web</strong></h3>
                    <p class="text-faded mb-0">
                        Developpement de vos site web
                    </p>
                </div>
                <div data-aos="zoom-in-down" data-aos-once="false" data-aos-duration="2000" class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span  class="service-icon rounded-circle mx-auto mb-3"><i class="icon-basket"></i></span>
                    <h3><strong>E-commerce</strong></h3>
                    <p class="text-faded mb-0">Et meme vos site E-commerce</p>
                </div>
                <div data-aos="zoom-in-down" data-aos-once="false" data-aos-duration="3000" class="col-lg-3 col-md-6">
                    <span  class="service-icon rounded-circle mx-auto mb-3"><i class="icon-settings"></i></span>
                    <h3><strong>Maintenance</strong></h3>
                    <p class="text-faded mb-0">Un service de maintenance est possible</p>
                </div>
            </div>
        </div>
    </section>

    {#    fin section service#}

    {# Début Activites #}
    <section id="projet">
        <h2 class="text-center" style="margin-top: 10px; color: #5289D8">Activités</h2>
        <h3 class=" text-center" style="color: #676767">Nos principaux projets!</h3>
        <div data-aos="fade-down" data-aos-duration="1500" data-aos-easing="linear" class="ag-container-shops">

            <div class="js-flickity-slider">
                {% for projet in projets %}
                <div class="js-carousel-cell">

                    <div class="ag-shop-card_box-wrap">

                        <div class="ag-shop-card_box">

                            <div class="ag-shop-card_body">

                                <div class=" ag-card-bg" style=""><img class="js-card-bg ag-card-bg" src="{{asset('uploads/img_bg/'~projet.imgBg)}}" alt=""></div>
                                <a href="{{projet.link}}" target="_blank" class="ag-shop-card-body_link"><img src="{{asset('uploads/img_rond/'~projet.imgRond)}}" alt="Falu" class="ag-shop-card-body_img"></a>
                            </div>
                            <div class="ag-shop-card_footer">
                                <a href="{{ projet.link }}" target="_blank" class="ag-shop-card-footer_link"><img src="https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/parallax-swipe/images/arrow.svg" class="ag-shop-card-footer_arrow"></a>
                                <span class="ag-shop-card-footer_title">{{ projet.titre }}</span>
                                <span class="ag-shop-card-footer_products">BJTechnoDev</span>

                            </div>

                        </div>

                    </div>


                </div>
                {% endfor %}
            </div>

        </div>
    </section>


    {# Fint activites #}

    {# Section contact #}

    <section style="background-color: #5289d8" class="" id="contactus">

        <div class="container" >

            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section" style="margin-top: 30px;;text-shadow: 3px 2px 2px black; color: #F9F190; font-size: 35px">Contactez-nous ✉️</h2>
                </div>
            </div>
            <div class="row justify-content-center" id="">
                <div class="col-lg-10">
                    <div class="wrapper">
                        <div class="row no-gutters">
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="contact-wrap w-100 p-md-5 p-4 py-5">

                                    <h3 class="mb-4" style="text-shadow: -2px -2px 2px white">Votre identité</h3>
                                    {{ form_start(our_form) }}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form_row(our_form.fullName, {'attr': {'class': 'form-control','placeholder':'Votre nom'},'label':'Nom'}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form_row(our_form.email, {'attr': {'class': 'form-control','placeholder':'Email@gmail.com'},'label':'Email'}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form_row(our_form.subject, {'attr': {'class': 'form-control','placeholder':'L\'objet de votre demande'},'label':'Objet'}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form_row(our_form.message, {'attr': {'class': 'form-control','placeholder':'Votre message'},'label':'Message'}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Envoyez Votre Message" class="btn" style="background-color: #5289D8; color: #F9F190">
                                                <div class="submitting"></div>
                                                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
                                                <script> grecaptcha.ready(function() {
                                                    grecaptcha.execute('6Ldx4rsfAAAAAJlD06YOFifaIdlkvfvHpe3QKzvH', {action: 'contact'})
                                                        .then(function(token) {
                                                        document.getElementById('g-recaptcha-response').value = token; }); }); </script>


                                                <script src="https://www.google.com/recaptcha/api.js?render=6Ldx4rsfAAAAAJlD06YOFifaIdlkvfvHpe3QKzvH&onload=recaptchaCallback_form_captcha" async defer></script>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(our_form) }}
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="info-wrap w-100 p-md-5 p-4 py-5 img">

                                    <h3 style="text-shadow: -2px -1px 2px white">Nos information</h3>
                                    <p class="mb-4" style="color: white">Nous sommes ouvert a toutes demandes ou questions</p>
                                    <div class="dbox w-100 d-flex align-items-start">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <a href="https://www.google.fr/maps/place/Lyon/@45.7579293,4.7650902,12z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea516ae88797:0x408ab2ae4bb21f0!8m2!3d45.764043!4d4.835659" target="_blank"><span class="fa fa-map-marker" style="color: #F9F190"></span></a>
                                        </div>
                                        <div class="text pl-3">
                                            <p><a href="https://www.google.fr/maps/place/Lyon/@45.7579293,4.7650902,12z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea516ae88797:0x408ab2ae4bb21f0!8m2!3d45.764043!4d4.835659" target="_blank"><span style="color: #5289D8">Addresse:</span><span style="color: #F9F190"> Lyon, France</span></a></p>
                                        </div>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-phone" style="color: #F9F190"></span>
                                        </div>
                                        <div class="text pl-3">
                                            <p><a href="tel:0630729873"><span style="color: #5289D8">Téléphone:</span><span style="color: #F9F190"> +33 6 30 72 98 73</span></a></p>
                                            <p><a href="tel:0617022776"><span style="color: #5289D8">Téléphone:</span><span style="color: #F9F190"> +33 6 17 02 27 76</span></a></p>
                                        </div>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <a href="mailto:bjtechnodev@gmail.com"><span class="fa fa-paper-plane" style="color: #F9F190"></span></a>
                                        </div>
                                        <div class="text pl-3">
                                            <p><a href="mailto:bjtechnodev@gmail.com"><span style="color: #5289D8">Email:</span><span style="color: #F9F190"> bjtechnodev@gmail.com</span></a></p>
                                        </div>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-globe" style="color: #F9F190"></span>
                                        </div>
                                        <div class="text pl-3">
                                            <p><a href="https://bastiendev.com/"><span style="color: #5289D8">Website</span><span style="color: #F9F190"> bastiendev.com</span></a></p>
                                            <p><a href="https://jeremydev.fr/"><span style="color: #5289D8">Website</span><span style="color: #F9F190"> jeremydev.fr</span></a></p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
