<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}BjTechnoDev{% endblock %}</title>
    <meta name="description" content="{% block metadescription %} {% endblock %}">
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('build/favicon (2).ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="fixed-top jumbotron-img navbar nav-link navbar-expand-lg ftco_navbar ftco-new-engage" id="ftco-navbar">
    <div class="container">
        <a class="d-flex" href="{{ path('app_base') }}"><a class="navbar-brand" href="{{ path('app_base') }}">BJTechoDev</a></a>
        <div class="social-media order-lg-last">
            <p class="mb-0 d-flex">
                <a href="https://github.com/BJ-TechnoDev" target="_blank" class="d-flex align-items-center justify-content-center"><span class="fab fa-github"><i class="sr-only"></i></span></a>
                <a href="https://twitter.com/home" target="_blank" class="d-flex align-items-center justify-content-center"><span class="fab fa-twitter"><i class="sr-only"></i></span></a>
                <a href="https://www.linkedin.com/in/bastien-oeuvrard-24480069/" target="_blank" class="d-flex align-items-center justify-content-center"><span class="fab fa-linkedin-in"><i class="sr-only"></i></span></a>
            </p>
        </div>
        <button style="margin-left: 37px;" class="navbar-toggler dropdown btn btn-secondary " type="button" data-toggle="collapse" id="dropdownMenuButton" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-haspopup="true" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
            <div style="float: left" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="nav-item mobileversion dropdown-item" href="{{ path('homepage') }}">Home</a></li>
                <li><a class="nav-item dropdown-item mobileversion" href="{{ path('homepage') }}#about">About Us</a></li>
                <li><a class="nav-item dropdown-item mobileversion" href="{{ path('homepage') }}#services">Nos Projets</a></li>
                <li><a class="nav-item dropdown-item mobileversion" href="{{path('homepage')}}#projet">Nos Activités</a></li>
                <li><a class="nav-item dropdown-item mobileversion" href="{{ path('contact') }}">Contact Us</a></li>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto mr-md-3">
                <li class="nav-item active"><a href="{{ path('homepage') }}" class="navbar-brand1">Home</a></li>
                <li class="nav-item"><a href="{{ path('homepage') }}#about" class="navbar-brand1">About Us</a></li>
                <li class="nav-item"><a href="{{ path('homepage') }}#services" class="navbar-brand1">Nos Projets</a></li>
                <li class="nav-item"><a href="{{ path('homepage') }}#projet" class="navbar-brand1">Nos Activités</a></li>
                <li class="nav-item"><a href="{{ path('contact')}}" class="navbar-brand1">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<footer class="footer-09 jumbotron-img" style="padding-bottom: 0; padding-top: 50px;">
    <div class="container">
        <div class="row" style="width: 90%;margin: 0 auto;">
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4" style="padding-right: 0;">
                <h2 class="footer-heading d-flex">
                    <span class="icon d-flex align-items-center justify-content-center"><i class="far fa-address-card"></i></span>
                    About Us
                </h2>
                <div class="block-23 mb-3 footer-091">
                    <ul>
                        <li><span class="fas fa-map-marker-alt"></span><span class="text" style="padding-left: 20px;"><a href="https://www.google.fr/maps/place/Lyon/@45.7579293,4.7650902,12z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea516ae88797:0x408ab2ae4bb21f0!8m2!3d45.764043!4d4.835659" target="_blank"> Lyon, France</a></span></li>
                        <li><a href="mailto:bastien.98@orange.fr"><span class="far fa-envelope"></span><span class="text" style="padding-left: 20px;">bjtechnodev@gmail.com</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading d-flex align-items-center"><span class="icon d-flex align-items-center justify-content-center"><i class="fas fa-newspaper"></i></span>Latest Project</h2>
                <div class="block-21 mb-4 d-flex">
                    <a href="https://bastiendev.com/" class="img mr-4 rounded" style="background-image: url({{ asset('build/bastien.jpg') }});"></a>
                    <div class="text">
                        <h3 class="heading"><a href="https://bastiendev.com/" target="_blank">Portfolio Bastien</a></h3>
                        <div class="meta">
                            <div><a href="https://bastiendev.com/" target="_blank"><span class="icon-person"></span>  February 22, 2022</a></div>
                        </div>
                    </div>
                </div>
                <div class="block-21 mb-4 d-flex">
                    <a href="https://jeremydev.fr/" target="_blank" class="img mr-4 rounded" style="background-image: url({{ asset('build/Jeremy.png') }});"></a>
                    <div class="text">
                        <h3 class="heading"><a href="https://jeremydev.fr/" target="_blank">Portfolio Jeremy</a></h3>
                        <div class="meta">
                            <div><a href="https://jeremydev.fr/" target="_blank"><span class="icon-person"></span>  February 22, 2022</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading d-flex align-items-center"><span class="icon d-flex align-items-center justify-content-center"><i class="fas fa-question-circle"></i></span>Information</h2>
                <ul style="margin-left: 10px;" class="list-unstyled">
                    <li><a href="{{ path('homepage') }}#about" class="py-1 d-block">About Us</a></li>
                    <li><a href="{{ path('homepage') }}#services" class="py-1 d-block">Nos Projets</a></li>
                    <li><a href="{{ path('homepage') }}#projet" class="py-1 d-block">Nos Activités</a></li>
                    <li><a href="{{ path('contact')}}" class="py-1 d-block">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 style="font-size: 20px" class="footer-heading d-flex align-items-center"><span class="icon d-flex align-items-center justify-content-center"><i class="fas fa-share-alt-square"></i></span>Our Social Networks</h2>
                <div class="block-24">
                    <div class="social-media order-lg-last">
                        <p class="mb-0 d-flex">
                            <a href="https://github.com/BJ-TechnoDev" target="_blank" style="font-size: 20px; margin-left: 60px" class="d-flex align-items-center justify-content-center"><span class="fab fa-github"><i class="sr-only"></i></span></a>
                            <a href="https://twitter.com/home" target="_blank" style="font-size: 20px; margin-left: 20px" class="d-flex align-items-center justify-content-center"><span class="fab fa-twitter"><i class="sr-only"></i></span></a>
                            <a href="https://www.linkedin.com/in/bastien-oeuvrard-24480069/" target="_blank" style="font-size: 20px; margin-left: 20px" class="d-flex align-items-center justify-content-center"><span class="fab fa-linkedin-in"><i class="sr-only"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 pt-4 border-top" style="margin-right: 0;">
            <div class="col-md-6 col-lg-8">
                <p class="copyright" style="float: left; color: #5289d8"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
            </div>
            <div class="col-md-6 col-lg-4 text-md-right">
                <p style="float: right; color: #F9F190" class="copyright">Projet réalisé par <i class="ion-ios-heart" aria-hidden="true"></i>BJTechnoDev
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
